.filter-title-container {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 23px;
}

.filter-buttons {
	display: flex;
	font-size: 14px;
	font-weight: normal;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.filter-button {
	height: 20px;
	width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
	margin-left: 10px;
	margin-right: 24px;
}